{% extends 'base.html' %}

{% load static %}

{% block title %} Todo Web {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}


<div class="container mt-5 ">
    <h3 class="d-flex justify-content-center">Add Your Task Here</h3>
    <form action="add_todo" method="post" id="todo-form" class="d-flex my-3 input-group">
        {% csrf_token %}
        <input type="text" class="form-control" oninput="clearText()" name="todo" placeholder="Enter Todo">
        <!-- <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2"> -->
        <input type="button" id="sub-btn" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>

    <!-- shows error -->
    <p id="error" style="color: red;"></p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Task</th>
                <th>Created date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in todos %}
            <tr>
                <td>{{task.text}}</td>
                <td>{{task.created}}</td>
                <td>
                    <a href="{% url 'update' task.id %}" type="button" class="btn btn-primary">update</a>
                    <a href="{% url 'delete' task.id %}" type="button" class="btn btn-danger">delete</a>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}